# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")
import pymongo
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\álvaro\appdata\roaming\python\python311\site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\álvaro\appdata\roaming\python\python311\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
db = client["companies"]
collection = db["collection"]

query = {'name':'Babelgum'}
projection = {'name': 1, '_id': 0}
result = collection.find(query, projection)

list(result)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
query = {'number_of_employees': {'$gt': 5000}}
res = collection.find(query).sort('number_of_employees', -1).limit(20)
pd.DataFrame(res)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,...,[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,...,"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]
5,52cdef7d4bab8bd675298aa4,Samsung Electronics,samsung-electronics,http://www.crunchbase.com/company/samsung-elec...,http://www.samsung.com/us,http://www.samsungvillage.com/,,samsungtweets,hardware,221726,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ - South Korea', 'address1...","[{'id': 11908, 'description': 'Samsung Ships 3...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[94, 150], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Samsun...,[]
6,52cdef7d4bab8bd675298b99,Accenture,accenture,http://www.crunchbase.com/company/accenture,http://www.accenture.com,http://www.accenture.com/Global/Accenture_Blogs/,http://feeds.accenture.com/Accenture_High_Perf...,accenture,consulting,205000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1615 Murray ...","[{'id': 1824, 'description': 'Nokia and Accent...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 136], 'assets/ima...",[{'external_url': 'http://www.accenture.com/Gl...,[]
7,52cdef7e4bab8bd67529a657,Tata Consultancy Services,tata-consultancy-services,http://www.crunchbase.com/company/tata-consult...,http://www.tcs.com,,http://www.tcs.com/rss_feeds/Pages/feed.aspx?f=p,TCS_News,consulting,200300,...,[],None,[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[],[]
8,52cdef7e4bab8bd67529aa51,Flextronics International,flextronics-international,http://www.crunchbase.com/company/flextronics-...,http://www.flextronics.com,http://www.flextronicsblog.com/,,flextronics,None,200000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'US HQ', 'address1': '6201 Am...",[],None,[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[],[]
9,52cdef7d4bab8bd675299156,Safeway,safeway,http://www.crunchbase.com/company/safeway,http://www.safeway.com,,,,other,186000,...,[],None,[],"[{'description': 'HQ', 'address1': '5918 Stone...",[],None,[],"[{'available_sizes': [[[150, 123], 'assets/ima...",[],[]
10,52cdef7c4bab8bd675297e6f,Sony,sony,http://www.crunchbase.com/company/sony,http://www.sony.com,http://blog.sony.com/,http://blog.sony.com/,Sony,hardware,180500,...,[],None,"[{'price_amount': 260000000, 'price_currency_c...","[{'description': 'HQ', 'address1': '16530 Via ...","[{'id': 18773, 'description': 'Sony Will Buy O...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[{'external_url': 'http://www.entechgadget.com...,[]
11,52cdef7c4bab8bd675298517,LG,lg,http://www.crunchbase.com/company/lg,http://www.lg.com,http://lgusblog.com/,,LGUS,hardware,177000,...,[{'funding_round': {'round_code': 'unattribute...,None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,"[{'embed_code': '<iframe src=""http://blip.tv/p...",[],[],[]
12,52cdef7d4bab8bd675299d31,Ford,ford,http://www.crunchbase.com/company/ford,http://www.ford.com,,,FordService,automotive,171000,...,[],None,"[{'price_amount': 9000000, 'price_currency_cod...","[{'description': '', 'address1': 'One American...",[],"{'valuation_amount': None, 'valuation_currency...",[],[],[],[]
13,52cdef7d4bab8bd675298b28,Boeing,boeing,http://www.crunchbase.com/company/boeing,http://www.boeing.com,,,boeingairplanes,other,160000,...,[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 44355, 'description': ' Boeing To Rep...",None,[],"[{'available_sizes': [[[150, 94], 'assets/imag...","[{'external_url': 'http://jobs-boeing.com/', '...",[]
14,52cdef7e4bab8bd67529bb5c,Digital Equipment Corporation,digital-equipment-corporation,http://www.crunchbase.com/company/digital-equi...,,,,,None,140000,...,[],None,[],"[{'description': 'HQ', 'address1': '', 'addres...","[{'id': 12279, 'description': 'Ken Olsen, co-f...",None,[],[],[],[]
15,52cdef7c4bab8bd675297fc2,Nokia,nokia,http://www.crunchbase.com/company/nokia,http://nokia.com,,,nokia,mobile,125000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 96800000, 'price_currency_co...","[{'description': 'headquarter', 'address1': 'K...","[{'id': 9161, 'description': 'Nokia, AT&T Putt...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 131], 'assets/ima...",[{'external_url': 'http://en.wikipedia.org/wik...,[]
16,52cdef7d4bab8bd675299839,MItsubishi Electric,mitsubishi-electric,http://www.crunchbase.com/company/mitsubishi-e...,http://global.mitsubishielectric.com,,,,hardware,107000,...,[],None,[],"[{'description': 'HQ', 'address1': 'Tokyo Buil...",[],None,[],"[{'available_sizes': [[[150, 145], 'assets/ima...",[],[]
17,52cdef7d4bab8bd675299bc3,MItsubishi Electric,mitsubishi-electric,http://www.crunchbase.com/company/mitsubishi-e...,http://global.mitsubishielectric.com,,,,hardware,107000,...,[],None,[],"[{'description': 'HQ', 'address1': 'Tokyo Buil...",[],None,[],"[{'available_sizes': [[[150, 145], 'assets/ima...",[],[]
18,52cdef7c4bab8bd6752987ad,Comcast,comcast,http://www.crunchbase.com/company/comcast,http://comcast.com,,,XFINITYDeals,games_video,100000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'One Comcast Center', 'addres...","[{'id': 24946, 'description': 'Comcast buys Mi...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
19,52cdef7d4bab8bd675298d67,Bertelsmann,bertelsmann,http://www.crunchbase.com/company/bertelsmann,http://www.bertelsmann.com,,,None,other,100000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 20443, 'description': 'A Step Forward?...",None,[],[],[],[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
query = {
    'founded_year': {
        '$gte': 2000,  
        '$lte': 2005   
    }
}

projection = {'name': 1, 'founded_year': 1, '_id': 0}   
result = collection.find(query, projection).limit(10)
list(result)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
query = {
    '$and': [
        {'ipo.valuation_amount': {'$gte': 100000000}},
        {'founded_year': {'$lte': 2010}}
    ]
}

projection = {'name': 1, 'ipo.valuation_amount': 1, '_id': 0}   
result = collection.find(query, projection).limit(10)
list(result)

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
query = {
    '$and': [
        {'number_of_employees': {'$lte': 1000}},
        {'founded_year': {'$lte': 2005}}
    ]
}

projection = {'name': 1, 'number_of_employees': 1,'founded_year':1, '_id': 0}   
result = collection.find(query, projection).sort('number_of_employees', -1).limit(10)
list(result)

[{'name': 'Sonus Networks', 'number_of_employees': 1000, 'founded_year': 1997},
 {'name': 'SK Net Service Company Ltd',
  'number_of_employees': 1000,
  'founded_year': 2001},
 {'name': 'Gumtree', 'number_of_employees': 1000, 'founded_year': 2005},
 {'name': 'Akamai Technologies',
  'number_of_employees': 1000,
  'founded_year': 1998},
 {'name': 'Omniture', 'number_of_employees': 1000, 'founded_year': 1996},
 {'name': 'Antal International',
  'number_of_employees': 1000,
  'founded_year': 1993},
 {'name': "OC'LIANE", 'number_of_employees': 1000, 'founded_year': 2003},
 {'name': 'FANUC Robotics America',
  'number_of_employees': 1000,
  'founded_year': 1982},
 {'name': 'Telenav', 'number_of_employees': 1000, 'founded_year': 1999},
 {'name': 'Yodle', 'number_of_employees': 1000, 'founded_year': 2005}]

### 6. All the companies that don't include the `partners` field.

In [9]:
query = {'partners':{'$exists':0}}
projection = {'name': 1, '_id': 0}   
result = collection.find(query, projection).limit(10)    
list(result)

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [10]:
query = {'category_code': None}
projection = {'name': 1, '_id': 0}
result = collection.find(query, projection).limit(10)    
list(result)

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [11]:
query = {
    '$and': [
        {'number_of_employees': {'$gte': 100}},
        {'number_of_employees': {'$lte': 1000}}
    ]
}
projection = {'name': 1,'number_of_employees': 1, '_id': 0}
res = collection.find(query,projection).sort('number_of_employees', -1).limit(20)
list(res)

[{'name': 'Yodle', 'number_of_employees': 1000},
 {'name': 'Brain Bakery', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'Akamai Technologies', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Perceptis', 'number_of_employees': 1000},
 {'name': 'Yatra online', 'number_of_employees': 1000},
 {'name': "OC'LIANE", 'number_of_employees': 1000},
 {'name': 'Sonus Networks', 'number_of_employees': 1000},
 {'name': 'ERG Transit Systems', 'number_of_employees': 1000},
 {'name': 'Magellan Development', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'FANUC Robotics America', 'number_of_employees': 1000},
 {'name': 'MetricStream', 'number_of_employees': 1000},
 {'name': 'SmeadSoft', 'number_of_employees': 1000},
 {'name': 'Riverbed Technology', 'number_of_employees': 1000},
 {'name': 'Hello Travel', 'number_of_employees': 1000},
 {'name': 'Southern California Public Radio', 'number_of_employees': 1000}]

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
query = {}
projection = {'name': 1,'ipo.price': 1, '_id': 0}
res = collection.find(query,projection).sort('ipo.price', -1).limit(10)
list(res)

[{'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Facebook', 'ipo': {}},
 {'name': 'Geni'},
 {'name': 'Omnidrive'},
 {'name': 'Digg'},
 {'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Postini'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [13]:
query = {}
projection = {'name': 1, 'number_of_employees':1,'_id': 0}   
result = collection.find(query, projection).sort('number_of_employees',-1).limit(10)    
list(result)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [14]:
query = {
    'founded_month': {
        '$gte': 6,  
        '$lte': 12   
    }
}

projection = {'name': 1, 'founded_month': 1, '_id': 0}   
result = collection.find(query, projection).limit(10)
list(result)

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [15]:
query = {
    '$and': [
        {'founded_year': {'$lte': 2000}},
        {'acquisition.price_amount': {'$gte': 100000}}
    ]
}
projection = {'name': 1,'founded_year': 1,'acquisition.price_amount':1, '_id': 0}
res = collection.find(query,projection).sort('acquisition.price_amount', -1).limit(10)
list(res)

[{'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000.0}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000.0}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Pixar',
  'founded_year': 1986,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'LSI',
  'founded_year': 1980,
  'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'aQuantive',
  'founded_year': 1997,
  'acquisition': {'price_amount': 6400000000.0}},
 {'name': 'Siebel Systems',
  'founded_year': 1993,
  'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Sybase',
  'founded_year': 1984,
  'acquisition': {'price_amount': 5800000000.0}},
 {'name': 'Affiliated Computer Services',
  'founded_year': 1988,
  'acquisition': {'price_amount': 5750000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
query = {'acquisition.acquired_year': {'$gt':2010}}
projection = {'name': 1,'acquisition.price_amount':1, '_id': 0}
res = collection.find(query,projection).sort('acquisition.price_amount', -1).limit(10)
list(res)

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000.0}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'Ariba', 'acquisition': {'price_amount': 4300000000.0}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000.0}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'Qualcomm Atheros', 'acquisition': {'price_amount': 3100000000.0}},
 {'name': 'Global Crossing', 'acquisition': {'price_amount': 3000000000.0}},
 {'name': 'Global Crossing', 'acquisition': {'price_amount': 3000000000.0}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
query = {}
projection = {'name': 1,'founded_year':1, '_id': 0}
res = collection.find(query,projection).sort('founded_year', -1).limit(10)
list(res)

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [21]:
query = {'founded_day': {'$lte':7}}
projection = {'name': 1, 'founded_day': 1, 'acquisition.price_amount':1, '_id': 0}   
result = collection.find(query, projection).sort('acquistion.price_amount',-1).limit(10)
list(result)

[{'name': 'eBay', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1, 'acquisition': {'price_amount': None}},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'Helio',
  'founded_day': 1,
  'acquisition': {'price_amount': 39000000}},
 {'name': 'StumbleUpon',
  'founded_day': 1,
  'acquisition': {'price_amount': 29000000}},
 {'name': 'Geni', 'founded_day': 1, 'acquisition': {'price_amount': None}},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Facebook', 'founded_day': 1},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Gizmoz', 'founded_day': 1, 'acquisition': {'price_amount': None}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [35]:
query = {'$and': [{'category_code': 'web'} , {'number_of_employees': {'$gt':4000}}]}
projection = {'name': 1, 'category_code': 1, 'number_of_employees':1, '_id': 0}   
result = collection.find(query, projection).sort('number_of_employees',1).limit(10)
list(result)

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [42]:
query = {'$and': [{'acquisition.price_currency_code': 'EUR'},
                {'acquisition.price_amount': {'$gt': 10000000}}]}
select = {'_id': 0, 'name': 1, 'acquisition.price_amount':1}
list(collection.find(query, select).limit(10))

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [45]:
query = {
    "acquisition.acquired_month": {
        '$gte': 1,  
        '$lte': 6   
    }
}

projection = {'name': 1, 'acquisition.acquired_month': 1, '_id': 0}   
result = collection.find(query, projection).limit(10)
list(result)

[{'name': 'Flektor', 'acquisition': {'acquired_month': 5}},
 {'name': 'StumbleUpon', 'acquisition': {'acquired_month': 4}},
 {'name': 'Helio', 'acquisition': {'acquired_month': 6}},
 {'name': 'Plaxo', 'acquisition': {'acquired_month': 5}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'Veoh', 'acquisition': {'acquired_month': 4}},
 {'name': 'Gannett', 'acquisition': {'acquired_month': 6}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [49]:
query = {'$and':[{'founded_year': {'$gte': 2000, '$lte': 2010}}, {'acquisition.acquired_year':{'$gte':2011}}]}

projection = {'name': 1, 'founded_year': 1,'acquisition.acquired_year':1, '_id': 0}   
result = collection.find(query, projection).limit(10)
list(result)

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}}]

### 20. All the companies that have been 'deadpooled' after the third year.